<a href="https://colab.research.google.com/github/Viniciusibin/2024-T0014-IN01-G05-main/blob/main/Untitled21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import pandas as pd #para ler, visualizar e printar infos do df
import matplotlib.pyplot as plt #para construir e customizar gráficos
import seaborn as sns #para visualizar uns gráficos
import numpy as np #numpy porque é sempre bom importar numpy

In [18]:
import pandas as pd

# Carregar o arquivo CSV com delimitador de ponto e vírgula
df = pd.read_csv('/content/plan.csv', encoding='ISO-8859-1', delimiter=';')

In [19]:
# Remover as colunas de índice 20, 21 e 22
df = df.drop(df.columns[[ 22, 23, 24,25,26,27,28,29,30,31]], axis=1)

In [20]:
df.head(2)

,Operação,Data,Ano,Mês,Tipo Operacao,Ativo,Cliente,Grupo,Client side,Vcto,...,Volume R$,Trading price,bid,offer,Sales price,Taxa de contrato,Status,P&L,Spread Sales,P&L Sales
0,1,21/08/2014,2014,8,SWAP,USD x CDI,DAYCOVAL,NaN,Passivo cupom sujo,30/03/2015,...,"R$ 610.000,00","1,22%","1,22%","1,32%","1,45%",NaN,Fechada,"Spot mesa: 2.2542 Cupom limpo: 1,16% Ptax: 2.2550",NaN,"Spot mesa: 2.2542 Cupom limpo: 1,16% Ptax: 2.2550"
1,2,25/08/2014,2014,8,Spot,USD,Lucas Estevam,NaN,C,D+0,...,NaN,"2,2850","2,2845","2,2850","2,3150",NaN,Fechada,Cliente queria o nível do dólar a 2.29,NaN,Cliente queria o nível do dólar a 2.29

In [21]:
# Exibir os nomes das colunas
print(df.columns)

Index(['Operação', 'Data', 'Ano', 'Mês', 'Tipo Operacao', 'Ativo', 'Cliente',
       'Grupo', 'Client side', 'Vcto', 'Fixing', ' Volume ', 'Volume R$',
       'Trading price', 'bid', 'offer', 'Sales price', 'Taxa de contrato',
       'Status', 'P&L', 'Spread Sales', 'P&L Sales'],
      dtype='object')

In [22]:
df.shape

(14240, 22)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14240 entries, 0 to 14239
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Operação          14240 non-null  int64
 1   Data              14240 non-null  object
 2   Ano               14240 non-null  int64
 3   Mês               14240 non-null  object
 4   Tipo Operacao     14239 non-null  object
 5   Ativo             14239 non-null  object
 6   Cliente           14239 non-null  object
 7   Grupo             12228 non-null  object
 8   Client side       13983 non-null  object
 9   Vcto              14154 non-null  object
 10  Fixing            7761 non-null   object
 11   Volume           14018 non-null  object
 12  Volume R$         13990 non-null  object
 13  Trading price     13238 non-null  object
 14  bid               1473 non-null   object
 15  offer             658 non-null    object
 16  Sales price       13283 non-null  object
 17  Taxa de contrato  268 non-null    object
 18  Status            14228 non-null  object
 19  P&L               13671 non-null  object
 20  Spread Sales      9741 non-null   object
 21  P&L Sales         14238 non-null  object
dtypes: int64(2), object(20)
memory usage: 2.4+ MB

In [24]:
df.isnull().sum()

Operação                0
Data                    0
Ano                     0
Mês                     0
Tipo Operacao           1
Ativo                   1
Cliente                 1
Grupo                2012
Client side           257
Vcto                   86
Fixing               6479
 Volume               222
Volume R$             250
Trading price        1002
bid                 12767
offer               13582
Sales price           957
Taxa de contrato    13972
Status                 12
P&L                   569
Spread Sales         4499
P&L Sales               2
dtype: int64

In [25]:
print(df.isnull().mean() * 100)

Operação             0.000000
Data                 0.000000
Ano                  0.000000
Mês                  0.000000
Tipo Operacao        0.007022
Ativo                0.007022
Cliente              0.007022
Grupo               14.129213
Client side          1.804775
Vcto                 0.603933
Fixing              45.498596
 Volume              1.558989
Volume R$            1.755618
Trading price        7.036517
bid                 89.655899
offer               95.379213
Sales price          6.720506
Taxa de contrato    98.117978
Status               0.084270
P&L                  3.995787
Spread Sales        31.594101
P&L Sales            0.014045
dtype: float64

In [26]:
df = df.drop(df.columns[[11, 15, 16, 18]], axis=1)

In [27]:
df[df.duplicated(keep='first')]

Empty DataFrame
Columns: [Operação, Data, Ano, Mês, Tipo Operacao, Ativo, Cliente, Grupo, Client side, Vcto, Fixing, Volume R$, Trading price, bid, Taxa de contrato, P&L, Spread Sales, P&L Sales]
Index: []

In [28]:
# Identificação das colunas
columns_info = df.dtypes

# Obtém os tipos de dados de todas as colunas do DataFrame 'df' e armazena na variável 'columns_info'.
# Seleciona todas as colunas do DataFrame 'df' que têm tipos de dados numéricos e armazena os nomes dessas colunas em uma lista chamada 'numerical_cols'.
numerical_cols = df.select_dtypes(include=[np.number]).columns.tolist()

# Seleciona todas as colunas do DataFrame 'df' que não têm tipos de dados numéricos e armazena os nomes dessas colunas em uma lista chamada 'categorical_cols'.
categorical_cols = df.select_dtypes(exclude=[np.number]).columns.tolist()

# Imprime a lista de colunas numéricas.
print(f"Colunas Numéricas: {numerical_cols}")

# Imprime a lista de colunas categóricas.
print(f"Colunas Categóricas: {categorical_cols}")

Colunas Numéricas: ['Operação', 'Ano']
Colunas Categóricas: ['Data', 'Mês', 'Tipo Operacao', 'Ativo', 'Cliente', 'Grupo', 'Client side', 'Vcto', 'Fixing', 'Volume R$', 'Trading price', 'bid', 'Taxa de contrato', 'P&L', 'Spread Sales', 'P&L Sales']